<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/Zulox.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Ahmad Zulhilman Zakaria.</h1>                        
                <h5>Bachelor of Computer Science (Hons.) with Specialization in Software Engineering</h5>
                <h5>Diploma in Information Technology</h5>	
                <h3>Multimedia University, Cyberjaya, MALAYSIA</h3>  			
            </div>
           
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->